body{
    height: 95vh;
    width: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(84, 84, 219);
    color: white;
}